@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Geist+Mono:wght@100..900&display=swap');

::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem */
}

body {
    /* VERSATILIDADE! */
    font-family: 'Akshar', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient( #e5ff00 );
    color: #ffffff;
    font-weight: bold;
    overflow-x: hidden;
}

header {
    background:linear-gradient( #fcff57, #3bc7ff); /* Cor de fundo roxa. */
    border-bottom-left-radius: 10px; /* Arredonda o canto inferior esquerdo. */
    border-bottom-right-radius: 10px; /* Arredonda o canto inferior direito. */
    color: white; /* Cor do texto. */
    display: flex; /* Habilita o layout flexbox para alinhar os itens. */
    align-items: center; /* Alinha os itens verticalmente ao centro. */
    justify-content: space-between; /* Distribui o espaço entre os itens. */
    border-bottom: solid 1.5px #ffa100; /* Adiciona uma borda laranja na parte inferior. */
    height: 120px; /* Define a altura fixa do cabeçalho. */
    text-shadow: #000000 2px 2px; /* Adiciona uma sombra ao texto. */
}

.cabecalho {
    color: #ffffff; /* Cor do texto. */
    padding: 10px; /* Espaçamento interno. */
    display: flex; /* Organiza os links em linha. */
    align-items: center; /* Alinha os links verticalmente. */
    justify-content: center; /* Alinha os links horizontalmente. */
    font-size: 1.5em; /* Tamanho da fonte. */
    font-weight: bold; /* Deixa o texto em negrito. */
    margin-right: 50px; /* Margens para posicionamento. */
    margin-left: 10px;
    border-radius: 15px; /* Arredonda as bordas. */
    margin: 250px;
    gap: 80px; /* Espaço entre os links. */
}

.dropdown{
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

.dropdown-btn{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    backdrop-filter: blur(3px);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.dropdown-content a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover{
    background-color: #c1ff4f;
    border-radius: 15px;
}

.show{
    display: block;
    animation: fadeIn 0.2 ease-in-out;
}

@keyframes fadeIn {
    from{ opacity: 0; transform: translateY(-5px);}
    to{ opacity: 1; transform: translateY(0);} 
}

header a {
    color: white; /* Cor do texto. */
    text-decoration: none; /* Adiciona sublinhado. */
}

/* Estilo para links já visitados. */
header a:visited {
    color: rgb(255, 255, 255);
}

/* Efeito ao passar o mouse sobre os links. */
header a:hover {
    color: #fda31c; /* Muda a cor do texto. */
    transform: scale(1.1); /* Aumenta o tamanho do link. */
    transition: 180ms ease-in; /* Define uma transição suave para o efeito. */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-content {
   display: flex; /* Usa flexbox para alinhar os itens. */
    align-items: center; /* Alinha verticalmente ao centro. */
    justify-content: space-evenly; /* Distribui o espaço igualmente. */
    gap: 10px; /* Espaço entre os elementos. */
    text-align: center; /* Centraliza o texto. */
    margin: 0 auto; /* Centraliza o container na página. */

}

.book {
    display: flex;
    align-items: flex-start;
    background: linear-gradient( #00b9f1, #e8ff64);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}


.book img:hover{top:1px; box-shadow: 5px 5px 5px #FFA100}


.book-content {
    flex: 1;
}

.book-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffd900;
    text-shadow: #ff0909 2px 2px 2px;
}

.book-description {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
    max-height: 100px; /* Altura limitada para esconder o conteúdo */
    overflow: hidden;  /* Esconde o conteúdo excedente */
    transition: max-height 0.3s ease; /* Transição suave */
}

.book-description.expanded {
    max-height: 500px; /* Aumenta a altura para mostrar o conteúdo completo */
}

.book:hover{top:3px; box-shadow: 5px 5px 5px #c74747}

.read-more {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5ffaff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.read-more:hover {
    background-color: #00a2ff;
}

.read-more:focus {
    outline: none; /* Remove a borda de foco */
}


.stars {
    color: #FFA100;
    font-size: 1.2em;
    margin-top: 10px;
}


h4 {
    color: #FFA100;
}

P {
    color:rgb(0, 0, 0)0;
}

.logo {
    max-height: 100%; /* Garante que a logo não exceda a altura do header. */
    height: 100px; /* Altura da logo. */
    width: auto; /* Mantém a proporção da imagem. */
}

.btn-aumentar {
    width: 100%;
    padding-left: 10px;
}

.btn-aumentar > i {
    color: rgb(255, 255, 255);
    font-size: 40px;
    cursor: pointer;
    text-shadow: 0 0 0.5em  #ffffff;
}

/* slider */

section.slider{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    overflow: hidden;   
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none; 
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    transition: 1s;
} 

.slide-box img {
    width: 100%;
    height: 500px; 
    border: solid 1px #FFA100;
    border-radius: 15px;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 27%;
    margin-left: 45%;
    display: flex;
    float: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 2px solid #4A1859;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #FFA100;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #FFA100;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #FFA100;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #FFA100;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;   
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;   
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;   
}

/* end of the slider */

footer {
    background-color: #3bc7ff;
    color: #ffffff;
    width: 100%;
    height: 5%;
    text-align:center;	    
 }

 .hearts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
  pointer-events: none;
}

.heart {
  position: absolute;
  bottom: -50px;
  color: rgba(0, 74, 109, 0.945);
  font-size: 20px;
  animation: rise 5s linear forwards;
  filter: drop-shadow(0 0 6px rgba(0, 232, 248, 0.877));
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.5) rotate(360deg);
    opacity: 0;
  }
}

